<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>오이마켓</title>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <header>
    <div class="header">
      <a href="index.html"><p>오이마켓</p></a>
      <ul>
        <li><input type="text" id="search_box"></li>
        <ul class="login_signup">
          <li><a href="#">로그인</a></li>|
          <li><a href="#">회원가입</a></li>
        </ul>

      </ul>
    </div>
  </header>
  <main>
    abcd
  </main>
  <footer>

  </footer>
</body>
</html>