<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>오이마켓</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <header>
    <div class="header">
      <a href="index.html" id="logo"><img src="../img/logo.png" alt=""><p>오이마켓</p></a>
      <ul>
        <li>
          <form action="#">
            <input type="text" id="search_box" placeholder="물품을 검색해 보세요">
          </form>
        </li>
        <ul class="login_signup">
          <li><a href="/login">로그인</a></li>|
          <li><a href="/signup">회원가입</a></li>
        </ul>
      </ul>
    </div>
  </header>

  <main>
    <div id="promotion_cover">
      <div id="promotion_area">
        <div id="promotion_textarea">
          <div id="promotion_title">믿을만한 <br>이웃 간 중고거래</div>
          <div id="promotion_desc"> 동네 주민들과 가깝고 따뜻한 거래를 <br>지금 경험해보세요.</div>
        </div>
        <div id="promotion_img"><img src="../img/trade.png" alt=""></div>
      </div>
    </div>
    <div id="resent_post">
      <p>중고거래 최신 매물</p>
      <div id="resent_post_grid">
        <div class="grid_content">
          <div class="grid_content_image"><img src="https://picsum.photos/id/180/250/250" alt=""></div>
          <div class="grid_content_info">
            <p class="resent_post_title">아이폰13pro 판매합니다</p>
            <p class="resent_post_price">300,000원</p>
            <p class="resent_post_place">부산 북구 만덕제2동</p>
          </div>
        </div>
        <div class="grid_content">
          <div class="grid_content_image"><img src="https://picsum.photos/id/180/250/250" alt=""></div>
          <div class="grid_content_info">
            <p class="resent_post_title">아이폰13pro 판매합니다</p>
            <p class="resent_post_price">300,000원</p>
            <p class="resent_post_place">부산 북구 만덕제2동</p>
          </div>
        </div>
        <div class="grid_content">
          <div class="grid_content_image"><img src="https://picsum.photos/id/180/250/250" alt=""></div>
          <div class="grid_content_info">
            <p class="resent_post_title">아이폰13pro 판매합니다</p>
            <p class="resent_post_price">300,000원</p>
            <p class="resent_post_place">부산 북구 만덕제2동</p>
          </div>
        </div>
        <div class="grid_content">
          <div class="grid_content_image"><img src="https://picsum.photos/id/180/250/250" alt=""></div>
          <div class="grid_content_info">
            <p class="resent_post_title">아이폰13pro 판매합니다</p>
            <p class="resent_post_price">300,000원</p>
            <p class="resent_post_place">부산 북구 만덕제2동</p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div id="footer">
      <p>서비스 이용약관 | 개인정보 처리방침 | 회사 안내</p>
      <p><b>고객센터</b> | 02-123-1234</p>
      <p><b>주식회사 오이마켓</b> | 부산광역시 남구 용소로 45</p>
      <p><b>사업자 등록번호</b> 123-00-12345</p><br>
      <b>제휴문의 | 광고문의 | PR문의 | IR문의</b>
    </div>
  </footer>
</body>
</html>