<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>오이마켓</title>
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
  <header>
    <div class="header">
      <a href="index.html" id="logo"><img src="../img/logo.png" alt=""><p>오이마켓</p></a>
      <ul>
        <li>
          <form action="#">
            <input type="text" id="search_box" placeholder="물품을 검색해 보세요">
          </form>
        </li>
        <ul class="login_signup">
          <li><a href="#">판매하기</a></li>|
          <li><a href="#">내 판매글</a></li>|
          <li><a href="#">로그아웃</a></li>
        </ul>
      </ul>
    </div>
  </header>
</body>
</html>