* {
  margin : 0px;
  padding : 0px;
}

/* 헤더 영역 */
.header {
  margin: 10px 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header #logo:link, #logo:visited {
  text-decoration: none;
  color: #046307;
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
}
.header #logo img{
  width: 30px;
}
.header ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.header #search_box {
  width: 12.5rem;
  height: 25px;
  margin: 0px 20px;
  padding: 5px 10px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  font-size: 12px;
}
.login_signup a:link, .header a:visited {
  text-decoration: none;
  color: #aaa;
  font-size: 14px;
  margin: 0px 10px;
}



/* 메인 영역 */
#promotion_cover {
  background-color: #98FF98;
  /* height: 20vw; */
}
#promotion_area {
  margin: 0px 20vw;
  padding: 0px 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#promotion_title {
  /* padding-top: 30px; */
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 40px;

}
#promotion_desc {
  padding-top: 20px;
  font-size: 14px;
}
#promotion_img img {
  width:250px;
  padding: 30px;
}



#resent_post {
  margin: 30px 20vw;
}
#resent_post > p {
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
#resent_post_grid {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 350px;
  justify-content:space-between;
}
.grid_content_image img {
  border-radius: 10px;
}
.grid_content_info {
  padding: 5px;
}
.resent_post_title {
  font-size: 14px;
}
.resent_post_price {
  font-size: 12px;
  margin-top: 5px;
  font-weight: bold;
}
.resent_post_place {
  font-size: 12px;
  margin-top: 5px;
}
/* 푸터 영역 */

#footer {
  padding: 10px 20vw;
  background-color: #eee;
  font-size: 12px;
}